name: Python tests

on: [push]

jobs:
  test:
    name: Test ${{ matrix.python }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

        python:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - name: Install
      run: |
        pip install wheel
        pip install coverage
        pip install https://github.com/conestack/webresource/archive/master.zip
        pip install https://github.com/conestack/yafowil/archive/master.zip
        pip install -e .[test]

    - name: Run tests
      run: |
        python --version
        python -m pytest src/yafowil/widget/wysihtml5/tests

    - name: Run coverage
      run: |
        coverage run --source=src/yafowil/widget/wysihtml5 --omit=src/yafowil/widget/wysihtml5/example.py -m pytest src/yafowil/widget/wysihtml5/tests
        coverage report --fail-under=99
